<p id="notice"><%= notice %></p>

<p>
  <strong>Spid:</strong>
  <%= @provider.SPID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Sensitivity:</strong>
  <%= @provider.sensitivity %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
