<p id="notice"><%= notice %></p>

<p>
  <strong>SP Client ID:</strong>
  <%= @client.sp_client_id %>
</p>

<p>
  <strong>Viscore:</strong>
  <%= @client.VIscore %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @client.rank %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
