<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @match.provider.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @match.sp_client_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
