<p id="notice"><%= notice %></p>

<p>
  <strong>Sp organization:</strong>
  <%= @organization.sp_organization_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
